*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}	

body 
{
    height: 800px;
    width: 100%;
    background-color: #B33030;
}

header
{
    height: 100px;
    width: 100%;
}

main
{
    height: 500px;
    width: 100%;
}

.leftsec
{
    height: 500px;
    width: 40%;
    padding:20px 20px 20px 20px;
    background-color:#A1B57D ;
    float: left;
    border-top-left-radius:25px ;
    border-bottom-left-radius: 40px;
    margin-left: 20px;
}

.rightsec
{
    height: 500px;
    width: 57%;
    float: left;
    background-color:#D3ECA7 ;
    margin-right: 20px;
    border-top-right-radius:25px ;
    border-bottom-right-radius: 40px;
}

.mainul 
{
    width: 100%;
    height: 460px;
    text-align: center;
    padding-top : 55px;


}

.firstul
{
display: none;
 width: 91%;
 /* height: 133x; */
 text-align: center;
 position: absolute;
 z-index: 100;
 margin-top: 15px;
 /* border-radius: 25px; */
 /* text-decoration: none; */

}

.mainli
{
    padding: 18px;
    width:  95%;
    height: 63px;
    margin: 15px 15px 0 15px;
    font-size: 20px;
    list-style-type: none;
    background-color: #96CEB4;
    border-radius: 15px;


}

.firstli
{
   

    padding: 10px;
    font-size: 20px;
    list-style-type: none;
    background-color: #96CEB4;
    border-radius: 15px;

}

.bar 
{
    position: relative;
    display:inline-block ;  

}

.bar:hover .firstul
{

display: block;

border-radius: 25px;
}

a
{
    color: black;
    text-decoration-line: none;
}

.all-of-def
{
margin: 40px;
border-style:solid;

padding: 20px;
height: 430px  ;
width: 91%;

}

.def 
{

    padding: 20px;
    /* display: none; */
    width: 100%;
    height: 70px;
    list-style-type: none;
    font-weight: 600;
}

.thirdq-def
{
    list-style-type: none;
    margin: 10px;
}
p
{
    font-size: 18px;
    margin: 10px;
}



#firstq 
{
    display: none ;
}
#secq
{
    display: none;
}

#thirdq
{
    display: none;
}
#thirdq-first
{
    display: none;
}
#thirdq-sec
{
    display: none;
}
#thirdq-third
{
    display: none;
}