* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

p{
    font-size: 18px;
}
.main-part {
    display: flex;
    width: 100%;
   
}


.left-section {
    padding-top: 20px;
    width: 28%;
    height: 710px;
    background-color: #A0BCC2;
}

.left-section>h2 {
    text-align: center;
}

.all-list {
    padding: 20px 10px 20px 10px;
    margin-left: 5px;
    margin-right: 5px;

}

a>h3 {
    text-align: center;
}


.all-list-HTML-CSS {
    margin: 10px 10px 0 10px;
}


#number3:hover .HTML-list {
    display: block;
}

.HTML-list {
    padding-left: 30px;
    display: none;
    padding-right: 40px;
    margin-top: 19px;
}


.HTML-content {
    background-color: #DAE5D0;
    margin: 10px 0 10px 0;
    padding: 10px;
    color: black;
    border-radius: 15px;
}

.HTML-list-q {
    background-color: #DAE5D0;
    margin: 10px 0 10px 0;
    color: black;
    border-top: 1px solid gray;
    padding-top:10px ;
    padding-left: 8px;
}


















/* main section :))))))))))) */

.main-section {
    background-color: #DAE5D0;
    width: 73%;
    height: 710px;
    padding-top: 20px;
}

.main-section-head {
    text-align: center;
}

.main-section-main {
    background-color: #A0BCC2;
    margin: 20px 10px;
    padding: 20px 15px;
    border-radius: 15px;  
    display: flex;
    flex-direction: column;


}

.HTML-parts {
    margin-top: 30px;
    border-bottom: 1px solid gray ;
    padding-bottom: 20px;
    

}

.HTML-parts-in {
    margin-top: 10px;
    padding-left: 50px;
}